* {
    box-sizing: border-box;
}


:root {
    --background: #f8e0c1;
    --slider-width: 1000px
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background: var(--background);
    overflow: hidden;
    cursor: none;
}

button, a {
    cursor: none;
    outline: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    width: 4px;
}






.content-bar {
    height: 100px;
    width: 100%;
    background-color: var(--background);
    position: fixed;
    z-index: 2;
    opacity: 0;
}

.logo img{
    top: 15px;
    left: 50px;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 5;
}

.close-btn {
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    z-index: 6;
    position: fixed;
    top: 20px;
    left: 40px;
    opacity: 0;
    background: #fff;
    border-radius: 100%;
}

.close-btn img{
    width: 30px;
    height: 30px;
}


.unset-text-stroke {
    color: #000;
}

.drawer-container button{
    z-index: 100;
    top: 15px;
    right: 50px;
    position: fixed;
    z-index: 5;
    width: 70px;
    height: 70px;
    border: none;
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer-container button img{
    width: 30px;
    height: 30px;
    position: absolute;
}

.drawer-container button img:nth-child(2) {
    opacity: 0;
}

.drawer-animation{
    z-index: 1;
    width: 1px;
    height: 1px;    
    border-radius:100%;
    top: 15px;
    right: 60px;
    
    background-color: var(--background);


    padding: 20px;
    position: fixed;
}

.drawer-content{
    z-index: 2;
    position: fixed;
    top: 100px;
    left: 180px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;

    align-items: center;
}

.drawer-menu{
    display: flex;
    flex-direction: column;
}

.drawer-feature{
    z-index: 2;
    background: #000;
    width: 400px;
    height: 100px;
    margin-left: 50%;
    margin-top: 200px;
    position: absolute;
}

.drawer-menu a{
    font-size: 72px;
    /* font-family: 'Playfair Display', serif; */
    color: transparent;
    text-decoration: none;
    -webkit-text-stroke: 2px #000;
    transition: letter-spacing ease-out 250ms;
}

.drawer-menu a:hover{
    letter-spacing: 10px;
    transition: letter-spacing ease-in 250ms;
}


.drawer-menu a:visited {
    color: #000;
}










.slider-controlles button {
    width: 50px;
    height: 50px;
    border: 0;
}

.slider-controlles {
    z-index: 0;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.slider-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.slider-viewport{
    width: var(--slider-width);    
    height: 600px;

    position: relative;
}

.slider {
    height: 600px;
    display: flex;
}

.slider > div{
    width: var(--slider-width);
    height: 600px;
    position: relative;
}

.slider .slide-content {
    opacity: 0;
    transform: translate(300px);
}
/* .slider > div.active {
    opacity: 1;
} */


.slide-foreground{
    width: 400px;
    height: 600px;
    background: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    position: absolute;
    bottom: -300px;
    right: 50px;
    opacity: 0;
    z-index: -1;
}

.slide-foreground img{
    height: 100%;
}

.slider-indicators {
    position: absolute;
    left: 70px;
    bottom: 120px;
    display: flex;
}


.slider-indicators .indicator {
    font-size: 24px;
    color: #649483;
    font-weight: 800;
    width: 140px;
    text-align: center;
}

.slider-indicators .indicator-line {
    margin-top: 50px;
    height: 4px;
    background: #649483;
    border-radius: 2px;
    width: 0px;
    position: absolute;
}


.slide-content {
    width: 600px;
    margin-top: 150px;
    margin-left: -100px;
}

.slide-content h1 {
    text-align: center;
    background: #e2b8bd;
    padding: 20px 40px;
    border-radius: 100px;
    font-size: 32px;
    font-family: 'Dela Gothic One', cursive;
    color: #649483;
    text-transform: uppercase;
}

.slide-cta {
    position: absolute;
    left: 200px;
    margin-top: -35px;
}

.slide-content p {
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
    color: #649483;
}


.slide-cta button, form button {
    font-family: 'Dela Gothic One', cursive;
    height: 70px;
    width: 200px;
    border: none;
    border-radius: 35px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding:0;
}

.slide-cta button div, form button div {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
	position: absolute;
	margin-top: -35px;
    padding-right: 40px;
}

.slide-cta button .anim-bg, form button .anim-bg{
	background: #649483;
    padding-right: 20px;
}



.scroll-btn{
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    left: 40%;
    bottom: -20px;
    opacity: 0;
}

.scroll-btn img {
    height: 40px;
    width: 40px;
}


.slider-view {
    top: 100%;
}

.slider-view > div {
    top: 100%;
    width: 400px;
    position: absolute;
    left: 100px;
    opacity: 0;
    display: none;
    padding-top: 30px;
}

.view-register {
    left: 150px;
}

section {
    /* height: 200px; */
    display: none;
    width: 1000px;
    margin: 0 auto;
}

.form-control:focus{
    border: 3px solid  #649483;
}

.form-control {
    height: 50px;
    width: 100%;
    border: 2px solid #eee;
    margin: 5px 0;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    font-size: 18px;
}



#custom-mouse-1 {
    z-index: 1000;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    border-radius: 100%;
    pointer-events: none;
}


#custom-mouse-2 {
    pointer-events: none;
    z-index: 1000;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    background: transparent;
    border: solid 2px black;
    border-radius: 100%;
}



table {
    width: 100%;
}

tr{
    height: 50px;
}

tr:nth-child(1) {
    background-color: #649483;
}


@media only screen and (max-width: 1400px) {
    /* body{
        zoom: 1.5;
    } */
}


@media only screen and (max-width: 600px) {
    body {
	cursor: unset;
    }
    
    button, a {
	cursor: unset;
    }

   .slide-foreground {
    	height: 200px;
    	margin-right: -300px;
    	height: 500px;
    	margin-top: -200px;
    	width: 100%;
    	bottom: -400px;
   }

    .drawer-container button{
        top: 30px;
        right: 30px;
        width: 55px;
        height: 55px;
    }

    .close-btn {
        top: 30px;
        left: 30px;
        width: 50px;
        height: 50px;
    }

    .view-register {
        left: 10px !important;
    }

    .form-control {
        width: 80vw;
    }

    .logo img{
        top: 30px;
        left: 30px;
        width: 80px;
        height: 80px;
    }

    .drawer-animation{
        top: 40px;
        right: 40px;
    }

    .drawer-menu a{
        font-size: 52px;
    }

    .drawer-content{
        left: 20px;
    }

    .slider-indicators{
        display: none;
    }

    .slide-foreground{
        width: 100%;
        right: 0;
        bottom: -500px;
    }

    .slide-cta {
    	position: absolute;
    	margin-top: -35px;
    }
   
    .slide-content {
       width: 400px;
       margin-top: 120px;
       margin-left: 250px;
   }

   .slide-content h1 {
      font-size: 18px;
      padding: 30px 20px;
      margin-left: 100px;
   }


   .slide-content p {
        display: none;
    }


   .slide-cta button {
      scale: .8;
   }

   .slide-cta {
        left: 150px;
    }

    .slider-view > div {
        width: 80%;
        left: 30px;
        margin-top: -50px;
    }

    .scroll-btn {
        visibility: hidden;
    }  

    .gallery{
        width: 100%;
        justify-content: center;
    }

    section h2 {
        margin-left: 50px;
    }

    .drawer-menu a{
        font-size: 48px;
    }
    
    #custom-mouse-2, 
    #custom-mouse-1 {
        display: none;
    }
}
